doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='jspm_packages/system.js')
    script(src='config.js')
    script(type='text/javascript').
      System.import('app/main.js').then(function(main) {
        new main.Main();
      });
  body
    block content
